<!-- A first map -->
<app-map
  lon=0
  lat=0
  zoom=3
  >
  <!-- Add a layer OSM -->
  <app-layer
    layer= "OSM"
    opacity= .5
    visibility= true
  ></app-layer>
  <app-reactive-layer layer = 'countries' ></app-reactive-layer>
  <!-- Add interaction -->
  <app-interaction></app-interaction>
  <!-- Add a control insde the map (boolmark) -->
  <app-control></app-control>
</app-map>



<!-- Define control outside the map -->
<app-mouse-position></app-mouse-position>
<app-mouse-position mapId="map1"></app-mouse-position>
