<app-navbar (displayStat)="setRequestedStat($event)" ></app-navbar>
<app-map
  lon=0
  lat=0
  zoom=3
  >
  <app-layer
    layer= "OSM"
    opacity= .5
    visibility= true
  ></app-layer>
  <app-reactive-layer openCountryDialog = {{countryForDialog}} passNewStat = {{currStat}} passGlobalData = {{globalList}} layer = 'countries' (countryId)="getRequestedCountry($event)"></app-reactive-layer>

  <app-interaction></app-interaction>

  <app-control></app-control>
</app-map>

<!-- Define control outside the map
<app-mouse-position></app-mouse-position>
<app-mouse-position mapId="map1"></app-mouse-position>
-->
